/* UTILITY CLASS */
.text-white {
  color: white;
}

.water-green-bg {
  background-color: #1ABC9C;
}

.dark-blue-bg {
  background-color: #2C3E50;
}

.star-icon {
  font-size: 35px;
  margin: 20px 0;
}

.star-icon:before,
.star-icon:after {
  content: "";
  display: inline-block;
  height: 5px;
  border-radius: 10px;
  vertical-align: middle;
}

h1, h2 {
  font-weight: bold;
}

h2 {
  font-size: 26px;
}

h4 {
  font-size: 16px;
}
/* end UTILITY CLASS */

/* Navbar restyling */
.bl-navbar {
  height: 100px;
  padding-left: 0;
  padding-right: 0;
  background-image: none;
  border-radius: 0;
}

.bl-navbar .navbar-brand {
  font-weight: bolder;
  font-size: 22px;
  color: white;
  line-height: 100px;
  padding-top: 0;
}

.bl-navbar .navbar-toggle {
  margin-top: 0px;
  top: 30px;
}

.bl-navbar .navbar-right > li > a {
  color: white;
  font-weight: bold;
  line-height: 100px;
  padding-top: 0;
}
/* end Navbar restyling */

header .jumbotron-img {
  margin: 50px 0 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

header .star-icon:before,
header .star-icon:after {
  background-color: white;
  width: 16%;
}

header h3 {
  font-size: 18px;
  margin-bottom: 65px;
}

main > .portfolio {
  margin-top: 65px;
}

main > .portfolio .star-icon:before,
main > .portfolio .star-icon:after {
  background-color: #2C3E50;
  width: 16%;
}

main > .portfolio-img {
  margin-bottom: 30px;
}

main > .portfolio-img img {
  border-radius: 20px;
}

main > .about {
  margin-top: 40px;
}

main > .about h2 {
  padding-top: 50px;
}

main > .about .star-icon:before,
main > .about .star-icon:after {
  background-color: white;
  width: 8%;
}

main > .about p {
  padding-bottom: 40px;
}

main > .about .btn.btn-default {
  background: transparent;
  color: inherit;
  border-color: inherit;
}

main > .about .download-button {
  padding-bottom: 25px;
}

main > .contact-form {
  margin-top: 70px;
  margin-bottom: 35px;
}

main > .contact-form .star-icon:before,
main > .contact-form .star-icon:after {
  background-color: #2C3E50;
  width: 7%;
}

/* Form restyling */
main > .contact-form form.bl-form .form-control {
  border: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  border-radius: 0;
  padding-left: 0;
  padding-top: 0;
}

main > .contact-form form.bl-form .form-control::placeholder {
  color: black;
  font-size: 18px;
}

main > .contact-form form.bl-form .send-form {
  color: white;
}
/* Form restyling */

footer > .contact-info {
  padding-top: 70px;
  background-color: #3A546D;
}

footer > .contact-info .footer-element {
  padding-bottom: 70px;
}

footer > .contact-info .footer-icon-container {
  display: inline-block;
  padding-right: 10px;
}

footer > .contact-info .footer-icon {
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
  font-size: 20px;
  line-height: 2;
}

footer > .contact-info .footer-icon.fa.fa-google-plus {
  font-size: 18px;
  line-height: 2.4;
}

footer > .contact-info .start-bootstrap {
  color: #1ABC9C;
}

footer > .copyright {
  height: 250px;
  line-height: 200px;
}
