/* UTILITY CLASS */
.text-white {
  color: white;
}

.water-green-bg {
  background-color: #1ABC9C;
}

.dark-blue-bg {
  background-color: #2C3E50;
}

.star-icon {
  font-size: 35px;
  margin: 20px 0;
}

.star-icon:before,
.star-icon:after {
  content: "";
  display: inline-block;
  width: 16%;
  height: 5px;
  border-radius: 10px;
  vertical-align: middle;
}

h1, h2 {
  font-weight: bold;
}

h2 {
  font-size: 26px;
}

h4 {
  font-size: 16px;
}
/* end UTILITY CLASS */

.navbar-container {
  height: 80px;
}

.jumbotron-img {
  margin: 50px 0 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

header .star-icon:before,
header .star-icon:after {
  background-color: white;
}

header h3 {
  font-size: 20px;
  margin-bottom: 65px;
}

.portfolio {
  margin-top: 65px;
}

.portfolio .star-icon:before,
.portfolio .star-icon:after {
  background-color: #2C3E50;
}

.portfolio-img {
  margin-bottom: 30px;
}

.portfolio-img img {
  border-radius: 20px;
}

.about {
  margin-top: 40px;
}

.about h2 {
  padding-top: 50px;

}

.about .star-icon:before,
.about .star-icon:after {
  background-color: white;
  width: 8%;
}

.about p {
  padding-bottom: 40px;
}

.about .btn.btn-default {
  background: transparent;
  color: inherit;
  border-color: inherit;
}

.about .download-button {
  padding-bottom: 25px;
}

.contact-form {
  margin-top: 70px;
  margin-bottom: 35px;
}

.contact-form .star-icon:before,
.contact-form .star-icon:after {
  background-color: #2C3E50;
  width: 7%;
}

.contact-form .form-control {
  border: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  border-radius: 0;
  padding-left: 0;
  padding-top: 0;
}

.contact-form .form-control::placeholder {
  color: black;
  font-size: 18px;
}

.contact-form .send-form {
  color: white;
}

.contact-info {
  padding-top: 70px;
  background-color: #3A546D;
}

.contact-info .footer-element {
  padding-bottom: 70px;
}

.contact-info .footer-icon-container {
  display: inline-block;
  padding-right: 10px;
}

.contact-info .footer-icon {
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
  font-size: 20px;
  line-height: 2;
}

.contact-info .footer-icon.fa.fa-google-plus {
  font-size: 18px;
  line-height: 2.4;
}

.contact-info .start-bootstrap {
  color: #1ABC9C;
}

.copyright {
  height: 250px;
  line-height: 200px;
}
