/* UTILITY CLASS */
.text-white {
  color: white;
}

.star-icon:before,
.star-icon:after {
  content: "";
  display: inline-block;
  width: 130px;
  height: 7px;
  border-radius: 10px;
  vertical-align: middle;
}

h1, h2 {
  font-weight: bold;
}

h2 {
  font-size: 45px;
}

.normal-text {
  font-size: 30px;
}
/* end UTILITY CLASS */

.navbar-container {
  background-color: #2C3E50;
  height: 80px;
}

.header-container {
  background-color: #1ABC9C;
}

.jumbotron-img img {
  margin: 50px 0 20px;
  height: 450px;
}

h1 {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 25px;
}

.star-icon {
  font-size: 60px;
  margin: 20px 0;
}

header .star-icon:before,
header .star-icon:after {
  background-color: white;
}

header h3 {
  font-size: 33px;
  margin-bottom: 65px;
}

.portfolio {
  margin-top: 65px;
}

.portfolio .star-icon:before,
.portfolio .star-icon:after {
  background-color: black;
}

.portfolio-img {
  margin-bottom: 50px;
}

.portfolio-img img {
  border-radius: 20px;
}

.about {
  margin-top: 40px;
  background-color: #1ABC9C;
}

.about h2 {
  padding-top: 70px;
  padding-bottom: 20px;
}

.about .star-icon:before,
.about .star-icon:after {
  background-color: white;
}

.about p {
  padding-bottom: 40px;
}

.about .btn.btn-default {
  background: transparent;
  color: inherit;
  border-color: inherit;
}

.about .download-button {
  padding-bottom: 25px;
}
